@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1.hero-heading {
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
}

p.hero-content {
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 425px) {
  h1.hero-heading {
    font-size: 40px;
    line-height: 55px;
  }

  p.hero-content {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .bannerImage {
    width: 100%;
    object-fit: cover;
    max-height: 280px;
  }
}
