@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

a.footer-column-links {
  font-size: 14px;
  line-height: 16px;
  color: #595e67;
  display: block;
  text-align: left;
  padding: 0.5em 0;
  font-family: Inter, sans-serif;
}

.footer-copyright {
  font-size: 14px;
  line-height: 16px;
  color: #595e67 !important;
  text-align: center;
  font-family: Inter, sans-serif;
  padding: 0 0 1.3em 0;
}

.socialLinks {
  margin-top: 6px;
  width: 18px;
  margin: 5px;
  color: rgb(97, 93, 93);
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 770px) {
  h2.footer-column-heading {
    text-align: center;
  }

  a.footer-column-links {
    text-align: center;
  }
}
